.app-header {
  color: white;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 25vh;

  input {
    width: 22em;
  }

  .ap-dropdown-menu {
    background: #262931;
    font-size: smaller;
    width: 26.4em;
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
  }
  .ap-suggestion:hover  {
    background: #3f424b;
  }
  .ap-suggestion {
    text-align: left;
  }
  .ap-suggestion-icon  {
    vertical-align: 0.2em !important;
  }
  .ap-cursor {
    background: #3f424b;
  }
}
