@import "../../../styles/_variables.scss";

.loading {
  z-index: 2;
  position: absolute;
  background-color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms ease-in;
  opacity: 1;

  &.hide-loading {
    opacity: 0;
    pointer-events: none;
  }

  > div {
    color: $main-blue !important;
  }
}
