@import './styles/_variables.scss';

@keyframes loader {
  0% {
    transform: translateX(0vw);
    width: 15%;
  }
  50% {
    width: 50%
  }
  100% {
    transform: translateX(90vw);
    width: 15%;
  }
}

.app {
  text-align: center;
  min-height: 30vh;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  &.app-is-loading .app-main {
    border-top: 4px solid $action-color;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      background-image: linear-gradient(to right, transparent, cyan, transparent);
      transform: translateX(0vw);
      animation: loader 2s linear 1s infinite; // show loader after 1 sec
      animation-direction: alternate;
      display: hidden;
      top: -4px;
      left: 0;
      height: 4px;
      width: 0%;
      right: 0;
    }
  }
}

.app-header {
  color: white;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 25vh;

  input {
    width: 22em;
  }

  .ap-dropdown-menu {
    background: #262931;
    font-size: smaller;
    width: 26.4em;
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
  }
  .ap-suggestion:hover  {
    background: #3f424b;
  }
  .ap-suggestion {
    text-align: left;
  }
  .ap-suggestion-icon  {
    vertical-align: 0.2em !important; 
  }
  .ap-cursor {
    background: #3f424b;
  }
}

.app-main {
  background-color: white;
  color: #282c34;
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  padding: 1.5rem;
  border-top: 2px solid $action-color;
  transition: all 1s;


  &-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;


    .meta-info {
      display: flex;
      align-items: center;
    }

    h2 {
      display: inline-block;
      margin: 0;
    }
  }

  &-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    .left-panel,
    .right-panel {
      height: 100%;
      flex-basis: 50%;
    }

    .left-panel {
      margin-right: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

/* .app-main-header {

} */
